.side-bar {
  background-color: #393a44;
  min-width: 200px;
}

/* .table {
background-color: bisque;
}
 */
body {
    background-color: rgb(252, 245, 226);
  }
  .group {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}


/* 
body {
  background-color: rgb(238, 214, 235);
} */

/* This applies from 600px and larger*/
@media all and (min-width: 600px) { 
  body {
    background-color: rgb(252, 245, 226);
  }

  .group {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}
}